a {
  color: var(--select_col);
}

.book_list {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border_radius);
  padding-bottom: 20px;
}

.book {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: auto auto;
  grid-template-areas:
    "head"
    "body";
  padding: 20px 0;
  border-bottom: var(--border);

  .title {
    grid-area: head;
    display: block;
    font-size: var(--title_size);
    padding: 0 10px;
    color: var(--book_title);
  }
}

.book_body {
  grid-area: body;
  display: flex;
  gap: 20px;
  padding: 10px;
}

.book_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  color: var(--book_info);
}
.cover {
  flex-shrink: 0;

  img {
    width: var(--book_cover_width);
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
  }
}

.cover_miss {
  flex-shrink: 0;
  width: var(--book_cover_width);
  height: var(--book_cover_height);
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(84, 147, 184);

  span {
    display: block;
    width: 100%;
    padding: 15% 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -1px;
    color: white;
    background-color: rgb(59, 59, 59);
    border-bottom: 5px solid rgb(255, 255, 255);
  }
}

.authors {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .link {
    padding: 4px 8px;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: var(--book_info_size);
    color: var(--input_col);
    background-color: var(--link_bg);
    transition: 0.2s;
    &:hover {
      color: var(--link);
      background-color: var(--select_col);
    }
  }
}

.description {
  font-size: var(--book_info_size);
  color: var(--book_info);
  .expand_text {
    cursor: default;
    color: var(--select_col);
  }
}

/* BOOK DETAIL */

.book_detail {
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "head"
    "body"
    "description";
  border: var(--border);
  border-radius: var(--border_radius);
  .head {
    grid-area: head;
    .title {
      font-size: var(--title_detail_size);
    }
    .authors {
      padding: 10px;
      .link {
        font-size: var(--book_author_detail_size);
      }
    }
  }
  .book_body,
  .description {
    padding: 10px;
  }
  .book_body {
    border-bottom: var(--border);
    .cover {
      img {
        width: var(--book_cover_detail_width);
      }
    }
    .cover_miss {
      width: var(--book_cover_detail_width);
      height: var(--book_cover_detail_height);
    }
  }
}

.publisher,
.ISBN_container,
.page_count,
.book_date {
  width: 100%;
  strong {
    display: inline-block;
    font-size: var(--book_info_size);
    width: 124px;
  }
  span {
    font-size: var(--book_info_size);
  }
}

.description {
  grid-area: description;
}
