@media screen and (max-width: 600px) {
  #root {
    --idle_src_bar_width: 90px;
    --border_radius: 0;
    --font_404_size: 60px;
    --quote_404_size: 20px;
    --book_404_padd: 30px 60px;

    --title_size: 20px;
    --title_detail_size: 22px;

    --book_cover_width: 80px;
    --book_cover_height: 120px;

    --book_cover_detail_width: 128px;
    --book_cover_detail_height: 180px;
  }
  .search_bar_container {
    padding: 0 10px;
    .button_container {
      right: 10px;
    }
  }
  .book_list {
    border: none;
  }
  .book_detail {
    border: none;
    .book_body {
      flex-direction: column;
      align-items: center;
    }
    .description {
      border-bottom: var(--border);
    }
  }
}
